.spinner {
    margin: 0 auto;
    display: block;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
    /*vertical-align: baseline;*/
}

th.rotate > div {
    transform:
        /* Magic Numbers */
            translate(25px, 51px)
                /* 45 is really 360 - 45 */
            rotate(315deg);
    /*width: 30px;*/

    width: 70px;
    margin-right: -25px;
    margin-top: -25px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.table-races td, .table-races tbody th {

    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
}

.table-races tbody th {
    text-align: left;
}